{% extends "specialsites_default.html" %}
        {% block specialmiddlecontent %}
           {%- if skel.home_slogan %}
            <article class="bg-blur">
                <div class="binding">

                    <section>
                        <div class="content">
                            <div class="one-column slogan">
                                <h2>
                                    {{skel.home_slogan}}
                                </h2>
                            </div>
                        </div>
                    </section>

                </div>
            </article>
            {%- endif %}
        {% endblock %}

    {% block additionalEndContent %}
        <article>
            <div class="binding">

                <section>
                    <div class="content">

                        <div class="one-column">
                            <h2>News</h2>
                        </div>
                        {% set news=getList("news",**{"orderby":"creationdate","orderdir":1}) %}
                        <div class="two-column left">
                            <ul class="borderlist">
                                {%- for n in news[:(news|length/2)|int] %}
                                <li><a href="/{{mylang}}/{{n.key|shortKey}}/{{n.name|string|urlencode}}">{{n.headline}}</span><em>{{n.creationdate}}</em></a></li>
                                {%- endfor %}
                            </ul>
                        </div>
                        <div class="two-column right">
                            <ul class="borderlist">
                                {%- for n in news[(news|length/2)|int:] %}
                                <li><a href="/{{mylang}}/{{n.key|shortKey}}/{{n.name|string|urlencode}}">{{n.headline}}</span><em>{{n.creationdate}}</em></a></li>
                                {%- endfor %}
                            </ul>
                        </div>

                    </div>
                </section>

            </div>
        </article>
    {%- endblock additionalEndContent %}
