{% extends "specialsites_default.html" %}
{% block specialmiddlecontent %}
    {%- if skel.imprint_privacy%}
	<div class="binding">

		<section>
			<div class="content">
				<div class="one-column">
					    <h2>{{_("privacy")}}</h2>
					{{skel.imprint_privacy}}
				</div>
			</div>
		</section>

	</div>
    {%- endif %}

    {%- if skel.imprint_cookies%}
	<div class="binding">

		<section>
			<div class="content">
				<div class="one-column">
					    <h2>{{_("cookies")}}</h2>
					{{skel.imprint_cookies}}
				</div>
			</div>
		</section>

	</div>
    {%- endif %}


{%- endblock specialmiddlecontent %}