{%- set currentPage = "hello" %}
{%- extends "viur_base.html" %}



{%- block content %}
<div class="binding">

    <section>
        <div class="content">
            <div class="one-column">

                <h2>Hello</h2>
            </div>
        </div>
    </section>

</div>


<article class="bg-blur">
	<div class="binding">

		<section>
			<div class="content">
				<div class="one-column slogan">
					<h2>
						You promised me a Cake!*
					</h2>
				</div>
			</div>
		</section>

	</div>
</article>

<div class="binding">

    <section>
        <div class="content">
            <div class="one-column">

                <p>
                    <em>*the cake is a Lie!</em>
                </p>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </section>

</div>
{%- endblock content %}