{% extends "viur_base.html" %}

{%- block content %}
    {%- if skel.default_headline1 or skel.default_descr1 %}
	<div class="binding">

		<section>
			<div class="content">
				<div class="one-column">
                    {%- if skel.default_headline1 %}
					    <h2>{{skel.default_headline1}}</h2>
                    {%- endif %}
					{{skel.default_descr1}}
				</div>
			</div>
		</section>

	</div>
    {%- endif %}

    {% block specialmiddlecontent %}{% endblock %}

    {%- if skel.default_headline2 or skel.default_descr2 %}
	<div class="binding">

		<section>
			<div class="content">
				<div class="one-column">
                    {%- if skel.default_headline2 %}
					    <h2>{{skel.default_headline2}}</h2>
                    {%- endif %}
					{{skel.default_descr2}}
				</div>
			</div>
		</section>

	</div>
        {%- endif %}

        {% block additionalEndContent %}

    {%- endblock additionalEndContent %}

{%- endblock content %}
