<!DOCTYPE html>
    {%- set mylang = getLanguage() %}
    {%-set langs = getLanguages() %}
    {%-set langnames = getLanguageNames() %}
{%- if not title %}
	{# The default page title. Optimal length for search engines is 50-60 characters. #}
	{%- set title="examplecms-viur" %}
{%- endif %}
{%- if not metaDescr %}
	{# The default meta description. The description should optimally be between 150-160 characters. #}
	{%- set metaDescr="default metaDescr" %}
{%- endif %}
{%- if not metaKeywords %}
	{# Default meta keywords. Meta keywords have no effect on SEO whatsoever. Length is anywhere from 100 to 255 characters. #}
	{%- set metaKeywords="default metaKeywords" %}
{%- endif %}
{%- if not pageContent %}
	{# Set default css page name to index. #}
	{%- set pageContent="index" %}
{%- endif %}


{%- set pages = execRequest("page/getNav") %}
{%- macro renderPageHierarchy(pages,currentPage=None) %}
    {% for page in pages %}
        <li class="{%if page.subnodes and page.subnodes|length>0 %} has-sub{%- endif %} {{ 'active' if page.key == currentPage }}"><a href="/{{ getLanguage() }}/page/view/{{ page.key|shortKey }}/{{page.name|string|urlencode}}" >{{ page.name }}</a>
            {%if page.subnodes and page.subnodes|length>0 %}
                <ul>
                    {{ renderPageHierarchy(page.subnodes, currentPage) }}
                </ul>
            {%- endif %}
        </li>
    {%- endfor %}
{%- endmacro %}

{%- set sites = execRequest("s/list") %}
{%- macro renderSiteList(sites) %}
    {%- for s in sites %}
        <li class="{{ 'active' if currentPage and s == currentPage }}" ><a href='/{{ getLanguage() }}/s/{{s}}'>{{_(s)}}</a></li>
    {%- endfor%}
{%- endmacro %}

{%- set specialSites = execRequest("listSpecialSites") %}
{%- macro renderSpecialSiteList(sites) %}
    {%- for s in sites %}
        <li class="{{ 'active' if currentPage and s == currentPage }}" ><a href='/{{ getLanguage() }}/{{s}}'>{{_(s)}}</a></li>
    {%- endfor%}
{%- endmacro %}


<html>
<head lang="{{ mylang }}">



	<!-- Favicon -->
	<link rel="icon" href="/static/images/favicon.png" type="image/png"/>

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/static/css/viur-example.css"/>
	<link rel="stylesheet" href="/static/css/mainnav.css"/>

	<script src="/static/js/script.js"></script>
	<!-- Herzlich willkommen bei-->
	<meta name="twitter:title" content="{{ title }}">
	<meta property="og:title" content="{{ title }}" />
	<title>{{ title }}</title>

	<!-- Language -->
	<meta name="content-language" content="{{ mylang }}" />
	<meta name="DC.Language" content="{{ mylang }}" />
	<meta http-equiv="content-mylanguage" content="{{ lang }}" />

	<!-- Descriptions -->
	<meta name="description" lang="{{ mylang }}" content="{{ metaDescr }}" />
	<meta name="twitter:description" content="{{ metaDescr }}">
	<meta name="DC.Description" content="{{ metaDescr }}" />
	<meta property="og:description" content="{{ metaDescr }}" />
	<meta name="keywords" lang="{{ mylang }}" content="{{ metaKeywords }}" />

	<!-- Diese Webseite ist ein viur Informationssystem. -->
	<meta name="generator" content="www.viur.is" />
	<link type="text/plain" rel="author" href="/static/meta/humans.txt" />
	<meta name="author" content="Mausbrand Informationssysteme GmbH" />{# FIXME! Insert page owner here. Will show up in open graph links. #}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex, nofollow" /> {# FIXME! noindex/nofollow for developement purpose only! #}
	<meta property="og:type" content="website" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- icons -->
	<link rel="shortcut icon" href="/static/meta/favicon.png" type="image/png" />

	<!-- css -->
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

	<!-- iPhone -->
	<link href="/static/meta/apple-touch-icon-precomposed.png" sizes="57x57" rel="apple-touch-icon" />
	<link href="/static/meta/apple-touch-icon-precomposed.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
	<link href="/static/meta/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />

	<!-- iPhone (Retina) -->
	<link href="/static/meta/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon" />
	<link href="/static/meta/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
	<link href="/static/meta/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

	<!-- iPhone 5 -->
	<link href="/static/meta/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

	<!-- iPad -->
	<link href="/static/meta/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon" />
	<link href="/static/meta/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
	<link href="/static/meta/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
	<link href="/static/meta/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />

	<!-- iPad (Retina) -->
	<link href="/static/meta/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon" />
	<link href="/static/meta/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed" />
	<link href="/static/meta/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/static/meta/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

	<!-- js -->
	<script type="application/javascript" src="/static/js/app.js"></script>

	{%- block additionalHead %}
		{# use additionalHead for important template specific JS or CSS file imports. #}
	{%- endblock %}

</head>
<body>

	<header>
		{%- block header %}
      <div class="binding">

		<div class='mainnav'>

			<ul>
				<li class="active"><a href='/{{mylang}}'>Home</a></li>
				{{renderPageHierarchy(pages.subnodes, currentPage) }}
                {{renderSiteList(sites)}}


				<li><a href='/contact'>Contact</a></li>
			</ul>
		</div>




		<div class="logo">
			<a href="#">
				<img src="/static/images/logo-viur.svg" title="ViUR - Information System">
			</a>
		</div>

	</div>
		{%- endblock header %}
	</header>
    {%- block betweenheaderandcontent %}
        <div class="blocker">
        </div>
    {%- endblock betweenheaderandcontent %}
	<article class="content {{pageContent}}" role="main"> {# name this content class after the page name AND function for better css addressing, e.g.: 'index', 'page_view view', 'product_list list' #}
		{%- block content %}
			{# put your content here #}
		{%- endblock content %}
	</article><!-- content -->

	<footer>
		{%- block footer %}
			 <div class="binding">

                {# renderPageHierarchy(pages, currentPage) #}

                <ul class="columns">
                    <li>
                        <h6><a href="#">Specials</a></h6>
                        <ul>
                            {{renderSpecialSiteList(specialSites)}}
                            <li><a href='/contact'>Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <h6><a href="#">Pages</a></h6>
                        {{renderPageHierarchy(pages.subnodes, currentPage) }}
                    </li>
                    <li>
                        <h6><a href="#">Sites</a></h6>
                        <ul>
                            {{renderSiteList(sites)}}
                        </ul>
                    </li>
                </ul>

                <div class="subfooter">
                    <div class="feuer">
                        ViUR = Fire [middlehigh-German viur, oldhigh-German fiur, related to Greek p?r]
                    </div>


                    <div class="langflag">
                        {%- for lang in langs %}
                            <a class="{%- if mylang == lang %} active {%-endif %}" href="/{{ lang }}/{{ '/'.join(pathComponents) }}/{{ updateURL() }}"><img src="/static/images/{{ lang }}.svg" title="{{ langnames[lang] }}"></a>
                        {%- endfor %}
                    </div>
                </div>
            </div>
		{%- endblock footer %}
	</footer>
	<!-- Zeitreise. -->

	{%- block additionalFooter %}

	{%- endblock %}

</body>
</html>