@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

@charset "UTF-8";

body {
    background: #d8d8d8;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 100.01%;
    line-height: 1.5;
    color: #333;
    font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    background-size: cover;
    background-attachment: fixed;
}

/* Links */
a,
a:link,
a:visited {
    color: #cc0000;
    text-decoration: underline;
    outline: 0;
    transition: all .5s ease;
}

a:hover,
a:focus,
a:active {
    color: #cc0000;
    text-decoration: none;
}

header a,
header a:link,
header a:visited {
    color: #fff;
    text-decoration: none;
    outline: 0;
    transition: all .5s ease;
}

header a:hover,
header a:focus,
header a:active {
    color: #cc0000;
}

p a,
p a:visited {
    line-height: inherit;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.6;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    color: #cccccc;
    font-size: 1.5em;
}

p {
    margin-top: 0;
    line-height: 1.6;
    font-size: 1em;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -moz-hyphenate-limit-chars: auto 5;
    -moz-hyphenate-limit-lines: 2;
    -o-hyphenate-limit-chars: auto 5;
    -o-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: auto 5;
    -webkit-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-chars: auto 5;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-chars: auto 5;
    hyphenate-limit-lines: 2;
}

em {
    font-style: italic;
    color: #cccccc;
}

/* Lists */
ul {
    padding: 0;
    margin: 0;
}

/* Clearfix */
.clear {
    clear: both;
}

/* Selection */
::-moz-selection {
    background-color: rgba(0, 81, 135, 0.75);
    text-shadow: none;
    color: #fff;
}

::selection {
    background-color: rgba(0, 81, 135, 0.75);
    text-shadow: none;
    color: #fff;
}

img {
    width: 100%;
}

/* Wrapper */
.content {
    width: 100%;
    overflow: hidden;
}

.binding {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 3% 4%;

}

.binding.visible {
    overflow: visible
}

article {
    background-color: #F5F5F5
}

article:nth-child(even) {
    background-color: #ffffff;
}

article .binding .content .two-column.left {
    box-sizing: border-box;
    float: left;
    width: 46%;
    margin-top: 1%;
}

article .binding .content .two-column.right {
    box-sizing: border-box;
    float: right;
    width: 46%;
    margin-top: 1%;

}



article .binding .content h2 {
    font-size: 1.8em;
}

article.bg-blur {
    background-image: url("../../static/images/blur-red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.one-column.slogan h2 {
    text-align: center;
    color: #fff;
    font-size: 2.0em;
    margin: 0 auto;
    width: 80%;
    padding: 2% 0;
}

/* ------------------------------------------------------------------------------------------------------
    Header
------------------------------------------------------------------------------------------------------ */

header {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: all .5s ease;

}

header .binding {
    overflow: visible;
    padding: 0 4%;
}

.logo {
    position: absolute;
    top: 10px;
    right: 6%;
    width: 60px;
    transition: all .5s ease;
}

.logo img {
    width: 100%;
}

.topnav {
    position: relative;

}

ul.borderlist li a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    text-decoration: none;
    color: #333;
}

ul.borderlist li a span {

    color: #cc0000;
}

ul.borderlist li:last-child a {

    border-bottom: none;
}

ul.borderlist li a:hover {

    background-color: #eee;
    padding-left: 20px;
}

.topnav ul.topnavlist {
    position: absolute;
    right: 0px;
    height: 180px;
    background-color: transparent;
    -webkit-box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
}

.topnav ul.topnavlist li {
    float: right;
}

.topnav ul.topnavlist li a {
    display: inline-block;
    height: 180px;
    width: 180px;
    border-right: 1px solid #ccc;
    color: #333;
    text-align: center;
    background-image: url(../../static/images/viur-menu.svg);
    background-repeat: no-repeat;
    background-size: 400%;
    background-color: #f7f7f7;

}

.topnav ul.topnavlist li a.docu {
    background-position: 0 0;
}

.topnav ul.topnavlist li a.develop {
    background-position: 33.333% 0;
}

.topnav ul.topnavlist li a.community {
    background-position: 66.666% 0;
}

.topnav ul.topnavlist li a.viur {

    background-color: #be1a22; /* Fallback */
    background: url('../../static/images/viur-menu.svg'); /* Fallback */
    background: url('../../static/images/viur-menu.svg'), -moz-linear-gradient(top, #be1a22, #e12013); /* FF 3.6+ */
    background: url('../../static/images/viur-menu.svg'), -webkit-gradient(linear, 0 0, 0 100%, from(#be1a22), to(#e12013)); /* Safari 4+, Chrome 2+ */
    background: url('../../static/images/viur-menu.svg'), -webkit-linear-gradient(top, #be1a22, #e12013); /* Safari 5.1+, Chrome 10+ */
    background: url('../../static/images/viur-menu.svg'), -o-linear-gradient(top, #be1a22, #e12013); /* Opera 11.10 */
    background: url('../../static/images/viur-menu.svg'), linear-gradient(to bottom, #be1a22, #e12013);
    background-position: 100% 0;

}

.topnav ul.topnavlist li a:hover {

    background-color: #ffffff;

}

.topnav ul.topnavlist li a h2 {
    margin-top: 115px;
    margin-bottom: -4px;
    font-weight: 600;

}

.topnav ul.topnavlist li:first-child a h2 {
    color: #fff;

}

.topnav ul.topnavlist li:first-child a {
    -webkit-box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    height: 190px;
    border-right: none;
    color: #fff;
    border: 1px solid #cc0000;
    position: relative;
    z-index: 8;

}

.topnav ul.topnavlist li a:hover {

    -webkit-box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 0 3px 1px rgba(50, 50, 50, .5);
    z-index: 9;
    position: relative;
}

.topnav ul.topnavlist li:first-child a:hover {
    height: 200px;
}

.blocker {
    background-color: #ccc;
    height: 50px;
    transition: all .5s ease;
}

/* ------------------------------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------------------------------ */
footer {
    border-top: 2px solid #cc0000;
    background-color: #111;
}

footer .binding {
 padding: 1% 4%;
}

footer .columns > li {
    font-size: 0.9em;
    margin-top: 25px;
    width: 25%;
    float: left;
    text-align: left;
    line-height: 1.5em;
    color: #ccc;
    margin-bottom: 30px;
    margin-right: 1%;

}

footer .columns > li:last-child {
    text-align: right;
    float: right;
    margin-right: 0;
}

footer .columns ul {
    margin-bottom: 15px;
}

footer a,
footer a:link,
footer a:visited {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #cc0000;
}

footer h6,
footer h6 a,
footer h6 a:link,
footer h6 a:visited {
    color: #fff;
    font-weight: bold;
}

footer h6 a:hover {
    color: #cc0000;
}

footer .subfooter {
    border-top: 1px solid #666;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    color: #cccccc
}

footer .langflag {
    float: right
}

footer .feuer {
    float: left
}

footer .langflag img {
    width: 30px;
    border: 1px solid #555;
}

footer .langflag img:hover {
    opacity: .7
}

/* #Custom Styles
================================================== */
/* #Supersize Subset Menu
================================================== */
@media only screen and (max-width: 1400px) {

}

/* #Tablet (Landscape)
================================================== */
@media only screen and (max-width: 1280px) {

    .binding {
        max-width: 1200px;
    }

}

/* #Tablet (Landscape)
================================================== */
@media only screen and (max-width: 1100px) {

    .binding {
        max-width: 1024px;
    }

    article .binding .content .two-column.left {
        width: 100%;
    }

    article .binding .content .two-column.right {
        width: 100%;
        float: left;
        margin-top: 4%;
    }

}

/* #Tablet (Portrait)
================================================== */
@media only screen and (max-width: 767px) {

    .no-mobil {
        display: none;
    }

    .no-desktop {
        display: block
    }



    footer .columns > li {
        width: 98%;
        font-size: 1.3em;

    }

    footer .columns > li:last-child {
        text-align: left;
    }

}



